@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-regular.eot);
  src: url(./fonts/Montserrat-regular.eot) format("eot"),
    url(./fonts/Montserrat-regular.woff) format("woff"),
    url(./fonts/Montserrat-regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-700.eot?);
  src: url(./fonts/Montserrat-700.eot?) format("eot"),
    url(./fonts/Montserrat-700.woff) format("woff"),
    url(./fonts/Montserrat-700.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
