@import "./bootstrap-variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "./bootstrap-theme.scss";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

/* Add these styles to your CSS file or inline styles */
.pie-chart-container {
  display: flex;
  justify-content: center;
}

/* CSS for SVG */
.svg-container {
  width: 100%;
  max-width: 250px; /* Adjust this value to your preferred max width */
}

.svg-container svg {
  width: 100%;
  height: auto;
}
/* CSS for centering SVG */
.svg-center-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Make the container take up the full height of the Col */
}

body {
  font-size: 1rem;
}
.wrap-next-row-custom {
  flex-wrap: wrap;
  margin-top: 10px; /* Adjust as needed for spacing */
}

.howTo {
  text-decoration: underline;
  color: $primary;
  cursor: pointer;
}

.text-primary {
  color: #136071 !important;
}

.nav-tabs .nav-item .nav-link.active {
  border: 0px;
}
/* Create a shorter underline using ::after */
.nav-tabs .nav-item .nav-link.active::after {
  content: "";
  display: block;
  border-bottom: 3px solid #136071; /* Adjust the color as needed */
  width: 95%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the underline */
}

// .nav-tabs .nav-item .nav-link {
//   color: #136071 !important;
// }

.nav-link {
  color: #136071 !important;
}

.btn-outline-primary {
  color: #136071 !important;
}

.btn-outline-primary:hover {
  color: white !important;
}

// .bg-orange {
//   background-color: #ffa500;
// }

// .reset-button {
//   color: #ffffff;
//   background-color: #136071;
//   transition: background-color 0.3s ease;
// }

// .reset-button:hover {
//   background-color: #0c4e6e;
// }

.th-placeholder {
  color: transparent;
}

.grayed-out {
  opacity: 0.5; /* Adjust the opacity value as needed */
  pointer-events: none; /* Disable pointer events to make the content unclickable */
}

.bg-gray {
  background-color: #e8e9e9;
}

.border-gray {
  border: 4px solid #e8e9e9;
  border-radius: 10px;
}

#defTable,
#screeningStrategyTable #epidemiologicalTable {
  table-layout: fixed;
}

.move-to-top {
  position: fixed;
  bottom: 0; /* Adjust this value as needed */
  right: 0; /* Adjust this value as needed */
  width: 75px;
  height: 75px;
  background-color: #37abc8;
  border-top-left-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.76rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  z-index: 10;
}

.move-to-top:hover {
  cursor: pointer;
}

.move-to-top span {
  //transform: rotate(-45deg); /* Rotate the text */
  margin-left: 20px; /* Adjust this value as needed */
  margin-top: 20px;
}

a {
  color:#1F6070;
  text-decoration: underline;
}

a:hover {
  color:#297f94;
  text-decoration: underline;
}